<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
        <title>HN topics</title>
        
    </head>
    <body>
        <script>
            $(document).ready( function () {
                $('#table_id').DataTable();
            } );            
        </script>

        <h1>Imported HN topics</h1>

        <table id="table_id" class="display">
            <thead>
                <tr>
                    <!-- (title, link, points, date created -->
                    <th>Title</th>
                    <th>Link</th>
                    <th>Points</th>
                    <th>Date created</th>
                </tr>
            </thead>
            <tbody>
                {% for t in topics %}
                    <tr>
                        <td>{{t.title}}</td>
                        <td><a href="{{t.link}}">{{t.link}}</a></td>
                        <td>{{t.points }}</td>
                        <td>{{t.date_created}}</td>
                    </tr>
                {% endfor %}                
            </tbody>
        </table>

    </body>
</html>